body {
    box-sizing: border-box;
}

.container button {
    padding: 50px;
    margin: 5px;
    background-color: white;
    color: white;
}
button.clickedTom {
    background-color: #FE642E;
    padding: 50px;
    font-size: 15px;
}
button.clickedJerry {
    background-color: #2E64FE;
    padding: 50px;
    font-size: 15px;
}

/* 팝업 배경 레이어 */
.modal {
    display: none; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}
.modal.show {
    display: block;
}

/* 팝업 */
.modal_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: #ffffff;
    border-radius: 20px;
}